DEBUG=True
SECRET_KEY=replace-with-generated-secret-key
ALLOWED_HOSTS=127.0.0.1,localhost
NPM_BIN_PATH=npm
MEDIA_ROOT=media
# For production use PostgreSQL URL from your host provider.
# DATABASE_URL=postgres://USER:PASSWORD@HOST:5432/DBNAME
# CSRF_TRUSTED_ORIGINS=https://your-domain.com
# SECURE_SSL_REDIRECT=True
