<!-- filepath: d:\RateMyResume\App\templates\score.html -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Resume Score</title>
  </head>
  <body>
    <main>
      {% block content %}
      <h1>Upload your resume to get a score</h1>
      <form
        action="{% url 'upload_resume' %}"
        method="post"
        enctype="multipart/form-data"
      >
        {% csrf_token %}
        <input type="file" name="resume" accept=".pdf,.doc,.docx" required />
        <button type="submit">File Upload</button>
        {% if message %}
        <p>{{ message }}</p>
        {% endif %} {% if filename %}
        <p>Uploaded file: {{ filename }}</p>
        {% endif %}
      </form>

      {% if resume %}
      <form action="{% url 'rating_result' %}" method="get">
        <button type="submit">Analyze</button>
      </form>
      {% endif %} {% endblock %}
    </main>
  </body>
</html>
